/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@page {
  size: A5;
  font-size: 11pt;
  margin: 1.0cm 1.3cm 1.0cm 1.3cm;
  line-height: 120%;
  font-family: 'Tinos', serif;
  background-color: #fff;
}
/* line 24, ../sass/table.scss */
body {
  margin: 0;
  font-size: 11pt;
  line-height: 120%;
  font-family: 'Tinos', serif;
  background-color: #fff;
}

/* line 33, ../sass/table.scss */
table {
  border-collapse: collapse;
  page-break-inside: avoid;
  background-color: #fff;
}

/* line 40, ../sass/table.scss */
tr {
  border-top: none;
  background-color: #fff;
}

/* line 46, ../sass/table.scss */
.top {
  border-bottom: none;
  padding-top: 3px;
}

/* line 51, ../sass/table.scss */
.bottom {
  border-top: none;
}

/* line 59, ../sass/table.scss */
.image {
  width: 115px;
  height: 110px;
}

/* line 64, ../sass/table.scss */
.td-image {
  width: 119px;
  padding: 2px;
}

/* line 69, ../sass/table.scss */
.t-img {
  height: 110px;
  width: 115px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
}

/* line 77, ../sass/table.scss */
.td-name {
  padding-left: 3px;
  width: 180px;
  padding-top: 3px;
  vertical-align: text-top;
}

/* line 84, ../sass/table.scss */
.td-date {
  width: 120px;
  padding-top: 3px;
  vertical-align: text-top;
}

/* line 90, ../sass/table.scss */
.td-contact {
  padding-top: 3px;
  vertical-align: text-top;
}

/* line 95, ../sass/table.scss */
.more {
  padding-left: 3px;
  color: #181818;
  vertical-align: bottom;
  padding-bottom: 3px;
}

/* line 102, ../sass/table.scss */
.name {
  font-weight: 700;
  margin-bottom: 2px;
}

/* line 107, ../sass/table.scss */
.line {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}
