@import "reset";

html, body {
  background-color: white !important;
  margin: 0;
  font-size: 12px;
  font-family: 'Tinos';
}

#main {
  display: block;
  width: 100%;
}

.table {
  width: 210mm;
  height: 297mm;
  page-break-after: always;
}

td {
  width: 131mm;
  height: 92.5mm;
  margin: 0;
  text-align: center;
}

.front td {
  border-bottom: 1px solid #cbcbcb;
  text-align: center;
  vertical-align: middle;
}
.front td.first {
  border-right: 1px solid #cbcbcb;;
}
.img {
  height: 80mm;
  width: 80mm;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin: auto;
}

.name {
  font-size: 30px;
  text-align: center;
  padding-top: 15mm;
}

.counter {
  font-size: 15px;
  text-align: center;
  padding-top: 5mm;
}


.dienst {
  font-size: 15px;
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}
.kinder {
  font-size: 15px;
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.page-break {
  display:block;
  page-break-before: always;
}
