<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'/>
    <link href='stylesheets/table_debug.css' rel='stylesheet' type='text/css'/>
</head>

<body>
<div id="main">

    {{#each people}}
    <table class="table" border="0" width="100%">
        <tr class="top">
            <td rowspan="2" class="td-image">
                <div class="image">
                    <div class="t-img" style="background-image:url('{{this.picture}}');">
                    </div>
                </div>
            </td>
            <td class="td-name">
                <div class="name">{{this.lastname}}, {{this.firstname}}</div>
                <div class="str">{{this.home_address}}</div>
                <div class="str">{{this.home_postcode}} {{this.home_city}}</div>
            </td>
            <td class="td-date">
                <div class="tel">G: {{{this.birthday}}}</div>

    
                <div class="tel">T: {{{this.taufe}}}</div>

            </td>
            <td class="td-contact">
              
                <div class="tel">Tel: {{this.phone}}</div>



          
                <div class="tel">Mob: {{this.mobile}}</div>
          

            </td>

        </tr>
        <tr class="bottom">
            <td colspan="3" class="more">
          
                <div class="tel">E-Mail: {{this.email}}</div>
          

                {{#if this.genChildren}}
                <div class="kinder">Kinder: {{this.genChildren}}</div>
                {{/if}}

              
                <div class="dienst">Dienste: {{this.genGroups}}</div>
                

            </td>
        </tr>
    </table>
    <span class="line"></span>
    {{/each}}

</div>


</body>
</html>



