@page {
  size: A5;
  font-size: 11pt;
  margin: 1.0cm 1.3cm 1.0cm 1.3cm;
  line-height: 120%;
  font-family: 'Tinos', serif;
  background-color: #fff;
}
/* line 17, ../sass/long.scss */
body {
  margin: 0;
  font-size: 11pt;
  line-height: 120%;
  font-family: 'Tinos', serif;
  background-color: #fff;
}

/* line 26, ../sass/long.scss */
h1, h2, h3, h4, h5, h6 {
  color: #3d4d5b;
}

/* line 30, ../sass/long.scss */
.float-clear {
  clear: both;
}

/* line 33, ../sass/long.scss */
.leader .avatar {
  float: left;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 50%;
}
/* line 39, ../sass/long.scss */
.leader .text {
  padding-top: 1em;
}

/* line 45, ../sass/long.scss */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 51, ../sass/long.scss */
.dienst-header {
  padding-top: 1.5em;
}
