/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/support";

$image-width: 115px !default;
$image-height: 110px !default;
$font-size: 11pt !default;

@page {
  size: A5;
  font-size: $font-size;
  margin: 1.0cm 1.3cm 1.0cm 1.3cm;
  line-height: 120%;
  font-family: 'Tinos', serif;
  background-color: #fff;
}

body {
  margin: 0;
  font-size: $font-size;
  line-height: 120%;
  font-family: 'Tinos', serif;
  background-color: #fff;

}

table {
  border-collapse: collapse;
  page-break-inside: avoid;
  background-color: #fff;

}

tr {
  border-top: none;
  background-color: #fff;

}

.top {
  border-bottom: none;
  padding-top: 3px;
}

.bottom {
  border-top: none;
}

td {
  // padding: 1em
}

.image {
  width: $image-width;
  height: $image-height;
}

.td-image {
  width: $image-width + 4px;
  padding: 2px;
}

.t-img {
  height: $image-height;
  width: $image-width;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px;
}

.td-name {
  padding-left: 3px;
  width: 180px;
  padding-top: 3px;
  vertical-align: text-top;
}

.td-date {
  width: 120px;
  padding-top: 3px;
  vertical-align: text-top;
}

.td-contact {
  padding-top: 3px;
  vertical-align: text-top;
}

.more {
  padding-left: 3px;
  color: #181818;
  vertical-align: bottom;
  padding-bottom: 3px;
}

.name {
  font-weight: 700;
  margin-bottom: 2px;
}

.line{
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}