<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic' rel='stylesheet'
        type='text/css' />
    <link href='stylesheets/main.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="main">
        {{{content}}}
    </div>


</body>

</html>